@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Saira:wght@200&display=swap");
.index {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 320px 0.3fr;
  grid-template-areas: ". bienvenido ." ". horario ." "sucursal1 . sucursal2"; }
  .index .bienvenido {
    grid-area: bienvenido;
    padding-top: 1em;
    animation-name: bienvenido;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: initial;
    animation-direction: normal; }

@keyframes bienvenido {
  0% {
    transform: translate(0, 20em); } }
  .index .horario {
    grid-area: horario;
    display: flex;
    justify-content: center; }
  .index .sucursal, .index .sucursal1, .index .sucursal2 {
    font-weight: bold;
    color: aliceblue;
    text-decoration: underline; }
  .index .sucursal1 {
    text-decoration: none;
    grid-area: sucursal1;
    font-size: 2.5em; }
  .index .sucursal2 {
    font-size: 2.5em;
    text-decoration: none;
    grid-area: sucursal2; }
  .index .titulosec {
    color: aliceblue;
    padding-bottom: 1em;
    font-size: 2.5em; }
  .index .texto {
    font-family: "Playfair Display", serif;
    color: aliceblue;
    font-size: 2em;
    padding-top: 0.5em; }

.titulosec2 {
  padding-bottom: 1em;
  font-size: 2em;
  color: aliceblue;
  text-decoration: underline; }

.guitar1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 0.4fr;
  grid-template-areas: "guitar1-text yamahaslgph" ". add"; }
  .guitar1 .guitar-text {
    grid-area: guitar-text; }
  .guitar1 .yamahaslgph {
    grid-area: yamahaslgph; }

.guitar2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 0.4fr;
  grid-template-areas: "guitar2-text yamahaph" ". add"; }
  .guitar2 .guitar2-text {
    grid-area: guitar2-text; }
  .guitar2 .yamahaph {
    grid-area: yamahaph; }

.guitar3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 0.4fr;
  grid-template-areas: "guitar3-text fonsecaph" ". add"; }
  .guitar3 .guitar3-text {
    grid-area: guitar3-text; }
  .guitar3 .fonsecaph {
    grid-area: fonsecaph; }

.guitar4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 0.4fr;
  grid-template-rows: 1fr;
  grid-template-areas: "guitar4-text graciaph" ". add"; }
  .guitar4 .guitar4-text {
    grid-area: guitar4-text; }
  .guitar4 .graciaph {
    grid-area: graciaph; }

.titulosuc, .titulo-cart, .titulo-contacto {
  font-size: 2.5em;
  color: aliceblue;
  padding-bottom: 0.5em;
  text-decoration: underline; }

iframe {
  width: 48em;
  height: 33em;
  transition: height 1s, width 1s; }

.direccion, .direccion2 {
  text-align: center;
  font-size: 30px;
  padding-bottom: 2em;
  text-decoration: none; }

.direccion2 {
  padding-bottom: 0; }

.tiendaph {
  width: 42em; }

.suc {
  display: flex;
  justify-content: space-around; }

.guitar-name {
  padding-top: 0.5em;
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  color: aliceblue; }

.cart-button {
  margin-top: 0.5em;
  list-style: none;
  text-decoration: none;
  font-size: 1.5em; }

.cart-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "fonseca gracia yamaha"; }
  .cart-list .fonseca, .cart-list .gracia, .cart-list .yamaha {
    grid-area: fonseca;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .cart-list .fonseca .fonsecacart, .cart-list .gracia .fonsecacart, .cart-list .yamaha .fonsecacart {
      width: 22em; }
  .cart-list .gracia {
    grid-area: gracia; }
    .cart-list .gracia .graciacart {
      width: 12em; }
  .cart-list .yamaha {
    grid-area: yamaha; }
    .cart-list .yamaha .yamahacart {
      width: 22em; }

.text {
  font-size: 2em;
  color: aliceblue;
  margin-bottom: 0.3em; }

label {
  font-size: 1.5em;
  color: aliceblue; }

.envio-retiro {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "iconos . ."; }
  .envio-retiro .iconos {
    grid-area: iconos;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .envio-retiro .iconos .envio-camion {
      display: flex;
      flex-direction: column;
      justify-self: left;
      align-items: center; }
      .envio-retiro .iconos .envio-camion img {
        margin-left: 0.5em;
        width: 7em; }
    .envio-retiro .iconos .retiro-sucursal {
      display: flex;
      flex-direction: column;
      margin-top: 2em;
      margin-right: 7em;
      align-items: center; }
      .envio-retiro .iconos .retiro-sucursal img {
        width: 8em; }

.action-button, .action-button2 {
  display: flex;
  justify-content: end;
  justify-items: end;
  font-size: 1.2em;
  margin-bottom: 0.3em; }

.action-button2 {
  margin-bottom: 0; }

.titulo-contacto {
  text-decoration: none; }

section .wsp {
  padding-bottom: 2em;
  text-align: center;
  font-size: 2em;
  text-decoration: underline; }

section .form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  font-size: 1.3em; }
  section .form .form-text {
    color: aliceblue;
    margin-right: 0.5em; }
  section .form .e-mail {
    margin-left: 0.5em; }
  section .form .c-input {
    font-size: 1em;
    background-color: #59544e;
    color: aliceblue; }
  section .form .send {
    display: flex;
    justify-content: end;
    justify-items: end; }
    section .form .send input {
      font-size: 1.4em;
      margin-top: 0.5em; }

@media only screen and (max-width: 425px) {
  .index2 {
    background-image: url(../images/fondo-responsive.jpg);
    background-size: cover;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 0.1fr 0fr 0fr 0fr;
    grid-template-areas: "header bienvenido" "header horario" "header sucursal1" "header sucursal2" "footer footer"; }
    .index2 header {
      grid-area: header;
      display: flex;
      flex-direction: column;
      background-image: linear-gradient(to right, #99582a, #ffe6a7); }
      .index2 header .navbar, .index2 header .navbar-select, .index2 header .navbar2 {
        display: flex;
        flex-direction: column;
        margin-top: 7em;
        font-size: 1.2em; }
      .index2 header .navbar-text {
        transition: none; }
      .index2 header h1 {
        font-size: 1.5em; }
    .index2 .bienvenido2 {
      animation: none;
      font-size: 1em;
      margin-left: 0.5em;
      display: flex;
      flex-direction: column; }
    .index2 .sucursal1,
    .index2 .sucursal2 {
      display: flex;
      flex-direction: column;
      font-size: 2.2em;
      margin-top: 3em; }
    .index2 footer {
      grid-area: footer;
      margin-top: 0;
      width: 13.29em;
      font-size: 2em; }
  .fondo-responsive {
    background-image: url(../images/fondo-responsive.jpg);
    background-size: cover; }
  .guitarras {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 0fr 0fr 0fr 0fr 0fr;
    grid-template-areas: "header2 guitar-responsive" "header2 ." "header2 ." "header2 ." "footer2 footer2 "; }
    .guitarras .navbar-text {
      transition: none; }
    .guitarras .logo-titulo {
      margin-right: 1.7em; }
    .guitarras .logo {
      width: 0;
      height: 0; }
    .guitarras .titulosec2-responsive {
      color: aliceblue;
      font-size: 3em; }
    .guitarras .titulo2 {
      font-size: 3em; }
    .guitarras .header2 {
      grid-area: header2;
      display: flex;
      flex-direction: column;
      background-image: linear-gradient(to right, #99582a, #ffe6a7); }
      .guitarras .header2 .navbar2 {
        display: flex;
        flex-direction: column;
        font-size: 1.7em;
        margin-top: 7em; }
    .guitarras .titulosec2-responsive {
      display: flex;
      justify-content: center;
      font-size: 5em; }
    .guitarras .guitar1 {
      margin-top: 2em;
      grid-area: guitar1;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 0fr 0fr;
      grid-template-areas: "guitar1-text" "yamahaslgph" "add"; }
      .guitarras .guitar1 .guitar1-title {
        font-size: 3em; }
      .guitarras .guitar1 .yamahaslgph {
        display: flex;
        justify-content: center;
        justify-self: center;
        width: 18em;
        grid-area: yamahaslgph;
        flex-direction: column-reverse; }
      .guitarras .guitar1 .guitar1-text {
        grid-area: guitar1-text;
        list-style: circle;
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-size: 2em;
        padding-bottom: 1em; }
    .guitarras .guitar2 {
      grid-area: guitar2;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 0.4fr;
      grid-template-areas: "guitar2-text" "yamahaph" "add"; }
      .guitarras .guitar2 .yamahaph {
        grid-area: yamahaph;
        width: 18em;
        display: flex;
        justify-content: center;
        justify-self: center;
        flex-direction: column-reverse; }
      .guitarras .guitar2 .guitar2-text {
        grid-area: guitar2-text;
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-size: 2em;
        padding-bottom: 1em; }
    .guitarras .guitar3 {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 0.4fr 0fr;
      grid-template-areas: "guitar3-text" "fonsecaph" "add"; }
      .guitarras .guitar3 .guitar3-text {
        grid-area: guitar3-text;
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-size: 2em;
        padding-bottom: 1em; }
      .guitarras .guitar3 .fonsecaph {
        grid-area: fonsecaph;
        width: 18em;
        display: flex;
        justify-content: center;
        justify-self: center;
        flex-direction: column-reverse; }
    .guitarras .guitar4 {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 0.4fr 0fr;
      grid-template-areas: "guitar4-text" "graciaph" "add"; }
      .guitarras .guitar4 .guitar4-text {
        grid-area: guitar4-text;
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-size: 2em;
        padding-bottom: 1em; }
      .guitarras .guitar4 .graciaph {
        grid-area: graciaph;
        width: 18em;
        display: flex;
        justify-self: center;
        justify-content: center;
        flex-direction: column-reverse;
        margin-right: 0.5em; }
    .guitarras .precio, .guitarras .precio4 {
      grid-area: precio;
      font-size: 2em;
      margin-right: 0;
      display: flex;
      justify-content: center;
      align-self: center;
      flex-direction: column;
      padding-top: 0; }
    .guitarras .precio4-2 {
      font-size: 2em;
      margin-right: 0.5em;
      display: flex;
      justify-content: center;
      padding-top: 0em; }
    .guitarras .add, .guitarras .add2 {
      font-size: 2em;
      grid-area: add;
      display: flex;
      justify-content: center;
      font-stretch: extra-expanded;
      margin-right: 0.1em; }
    .guitarras .add2-425 {
      font-size: 1.5em;
      grid-area: add;
      display: flex;
      padding-bottom: 1em;
      justify-content: center;
      font-stretch: extra-expanded;
      margin-right: 2em; }
  .footer2 {
    grid-area: footer2;
    width: 21.2em;
    font-size: 2.5em; } }

@media only screen and (max-width: 768px) {
  .titulosec {
    font-size: 3em; }
  .navbar, header .navbar-select, header .navbar2 {
    font-size: 1.2em; }
  .navbar-text {
    transition: none; }
  .index3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 320px 0fr;
    grid-template-areas: "bienvenido" "horario" "sucursal1" "sucursal2"; }
    .index3 .bienvenido {
      animation: none; }
  .guitarras .precio2 {
    padding-top: 0;
    display: flex;
    justify-content: center; }
  .guitarras .navbar-text {
    transition: none; }
  .guitarras .precio4-2 {
    padding-top: 0;
    display: flex;
    justify-content: center; }
  .guitarras .add2-768 {
    display: flex;
    justify-self: center;
    align-self: center; }
  .yamahaslgph2 {
    display: flex;
    flex-direction: column-reverse; }
  .yamahaph2 {
    flex-direction: column-reverse; }
  .fonsecaph2 {
    flex-direction: column-reverse; }
  .graciaph2 {
    flex-direction: column-reverse; } }

@media only screen and (max-width: 1024px) {
  .yamahaslgph2, .yamahaph2, .fonsecaph2, .graciaph2 {
    flex-direction: column-reverse; }
    .yamahaslgph2 .precio2, .yamahaslgph2 .precio4-2, .yamahaph2 .precio2, .yamahaph2 .precio4-2, .fonsecaph2 .precio2, .fonsecaph2 .precio4-2, .graciaph2 .precio2, .graciaph2 .precio4-2 {
      padding-top: 0;
      display: flex;
      justify-content: center; }
  .graciaph2 {
    width: 15em; } }

header {
  background-image: linear-gradient(to top, #99582a, #ffe6a7);
  text-decoration: none; }
  header .logo-titulo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "logo titulo ."; }
    header .logo-titulo .titulo {
      grid-area: titulo; }
    header .logo-titulo .logo {
      width: 3em;
      grid-area: logo; }
  header .navbar, header .navbar-select, header .navbar2 {
    padding-top: 0.5em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    color: aliceblue; }
  header .navbar-select {
    font-weight: bold; }
  header .navbar-text {
    font-size: 20px;
    transition: font-size 0.2s; }
  header .navbar-text:hover {
    font-size: 25px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-image: url(../images/fondo.jpg);
  background-attachment: fixed;
  position: relative;
  background-size: cover; }

h1 {
  text-align: center;
  font-weight: bolder;
  font-family: "Saira", sans-serif;
  font-size: 3em; }

h2 {
  margin-top: 2em;
  font-family: "Saira", sans-serif;
  color: aliceblue;
  font-size: 2.5em;
  text-decoration: underline; }

li {
  list-style: none; }

a {
  text-decoration: none; }

footer {
  font-size: 2em;
  font-weight: 400;
  text-align: center;
  background-image: linear-gradient(to top, #99582a, #ffe6a7);
  font-family: "Saira", sans-serif;
  grid-area: footer; }

.criolla {
  padding-top: 1em;
  font-size: 2em;
  color: aliceblue; }

.add, .add2 {
  font-size: 1.5em;
  grid-area: add;
  display: flex;
  justify-content: right;
  font-stretch: extra-expanded;
  margin-right: 2em; }

.add2 {
  margin-right: 0.5em; }

.precio, .precio4 {
  font-size: 1.3em;
  margin-right: 0.5em;
  display: flex;
  justify-content: right;
  padding-top: 10.9em; }

.precio4 {
  padding-top: 18em; }

.guitar-photo {
  display: flex;
  justify-content: right; }
