@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Saira:wght@200&display=swap");
.index {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 320px 0.3fr;
  grid-template-areas: ". bienvenido ." ". horario ." "sucursal1 . sucursal2"; }
  .index .bienvenido {
    grid-area: bienvenido;
    padding-top: 1em;
    animation-name: bienvenido;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: initial;
    animation-direction: normal; }

@keyframes bienvenido {
  0% {
    transform: translate(0, 20em); } }
  .index .horario {
    grid-area: horario;
    display: flex;
    justify-content: center; }
  .index .sucursal, .index .sucursal1, .index .sucursal2 {
    font-weight: bold;
    color: aliceblue;
    text-decoration: underline; }
  .index .sucursal1 {
    text-decoration: none;
    grid-area: sucursal1;
    font-size: 2.5em; }
  .index .sucursal2 {
    font-size: 2.5em;
    text-decoration: none;
    grid-area: sucursal2; }
  .index .titulosec {
    color: aliceblue;
    padding-bottom: 1em;
    font-size: 2.5em; }
  .index .texto {
    font-family: "Playfair Display", serif;
    color: aliceblue;
    font-size: 2em;
    padding-top: 0.5em; }

.titulosec2 {
  padding-bottom: 1em;
  font-size: 2em;
  color: aliceblue;
  text-decoration: underline; }

.guitars {
  display: grid;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr;
  grid-template-areas: "guitar1 guitar2 guitar3" " guitar4 . ."; }
  .guitars .guitar1 {
    grid-area: guitar1;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid;
    border-color: white; }
    .guitars .guitar1 .yamahaslgph {
      grid-area: yamahaslgph;
      width: 13em;
      display: flex;
      align-items: center;
      flex-direction: column; }
  .guitars .guitar2 {
    grid-area: guitar2;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid;
    border-color: white; }
    .guitars .guitar2 .guitar-title {
      font-size: 1em; }
    .guitars .guitar2 .yamahaph {
      grid-area: yamahaph;
      display: flex;
      flex-direction: column;
      width: 13em; }
  .guitars .guitar3 {
    grid-area: guitar3;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid;
    border-color: white; }
    .guitars .guitar3 .fonsecaph {
      grid-area: fonsecaph;
      width: 13em;
      display: flex;
      align-items: center;
      flex-direction: column; }
  .guitars .guitar4 {
    grid-area: guitar4;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid;
    border-color: white; }
    .guitars .guitar4 .graciaph {
      grid-area: graciaph;
      display: flex;
      flex-direction: column;
      width: 6em; }

.titulosuc, .titulo-cart, .titulo-contacto {
  font-size: 2.5em;
  color: aliceblue;
  padding-bottom: 0.5em;
  text-decoration: underline; }

iframe {
  width: 48em;
  height: 33em;
  transition: height 1s, width 1s; }

.direccion, .direccion2 {
  text-align: center;
  font-size: 30px;
  padding-bottom: 2em;
  text-decoration: none; }

.direccion2 {
  padding-bottom: 0; }

.img-responsive {
  width: 42em; }

.suc {
  display: flex;
  justify-content: space-around; }

.guitar-name {
  padding-top: 0.5em;
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  color: aliceblue; }

.cart-button {
  margin-top: 0.5em;
  list-style: none;
  text-decoration: none;
  font-size: 1.5em; }

.cart-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "fonseca gracia yamaha"; }
  .cart-list .fonseca, .cart-list .gracia, .cart-list .yamaha {
    grid-area: fonseca;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .cart-list .fonseca .fonsecacart, .cart-list .gracia .fonsecacart, .cart-list .yamaha .fonsecacart {
      width: 22em; }
  .cart-list .gracia {
    grid-area: gracia; }
    .cart-list .gracia .graciacart {
      width: 12em; }
  .cart-list .yamaha {
    grid-area: yamaha; }
    .cart-list .yamaha .yamahacart {
      width: 22em; }

.text {
  font-size: 2em;
  color: aliceblue;
  margin-bottom: 0.3em; }

label {
  font-size: 1.5em;
  color: aliceblue; }

.envio-retiro {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "iconos . ."; }
  .envio-retiro .iconos {
    grid-area: iconos;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .envio-retiro .iconos .envio-camion {
      display: flex;
      flex-direction: column;
      justify-self: left;
      align-items: center; }
      .envio-retiro .iconos .envio-camion img {
        margin-left: 0.5em;
        width: 7em; }
    .envio-retiro .iconos .retiro-sucursal {
      display: flex;
      flex-direction: column;
      margin-top: 2em;
      margin-right: 7em;
      align-items: center; }
      .envio-retiro .iconos .retiro-sucursal img {
        width: 8em; }

.action-button, .action-button2 {
  display: flex;
  justify-content: end;
  justify-items: end;
  font-size: 1.2em;
  margin-bottom: 0.3em; }

.action-button2 {
  margin-bottom: 0; }

.titulo-contacto {
  text-decoration: none; }

section .wsp {
  padding-bottom: 2em;
  text-align: center;
  font-size: 2em;
  text-decoration: underline; }

section .form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  font-size: 1.3em; }
  section .form .form-text {
    color: aliceblue;
    margin-right: 0.5em; }
  section .form .e-mail {
    margin-left: 0.5em; }
  section .form .c-input {
    font-size: 1em;
    background-color: #59544e;
    color: aliceblue; }
  section .form input {
    font-size: 1.4em;
    margin-top: 0.5em; }

section .send {
  font-size: 1.5em;
  display: flex;
  justify-content: end;
  justify-items: end; }

/*@media only screen and (max-width: 425px) {

  .index2 {
    overflow-x: hidden;
    background-image: url(../images/fondo-responsive.jpg);
    background-size: cover;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 0.1fr 0fr 0fr 0fr;
    grid-template-areas:
      "header bienvenido"
      "header horario"
      "header sucursal1"
      "header sucursal2"
      "footer footer";

    header {
      grid-area: header;
      display: flex;
      flex-direction: column;
      background-image: linear-gradient(to right, #99582a, #ffe6a7);

      .logo-titulo {
        display: flex;
        flex-wrap: wrap;

        .logo {
          width: 0;
          height: 0;
        }
      }

      .navbar {
        display: flex;
        flex-direction: column;
        margin-top: 0;
        font-size: 1.2em;
      }

      .navbar-text {
        transition: none;
      }


      h1 {
        font-size: 1.5em;
      }
    }

    .bienvenido2 {
      animation: none;
      font-size: 1em;
      margin-left: 0.5em;
      display: flex;
      flex-direction: column;
    }

    .sucursal1,
    .sucursal2 {
      display: flex;
      flex-direction: column;
      font-size: 2.2em;
      margin-top: 3em;
    }

    footer {
      grid-area: footer;
      width: 13.3em;
    }
  }



  //  PRODUCTOS 425PX



  .fondo-responsive {
    background-image: url(../images/fondo-responsive.jpg);
    background-size: cover;
  }

  .guitarras {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 0fr 0fr 0fr 0fr 0fr;
    grid-template-areas:
      "header2 ."
      "header2 ."
      "header2 ."
      "header2 ."
      "footer2 footer2 ";

    .navbar-text {
      transition: none;
    }

    .logo-titulo {
      margin-right: 1.7em;
      display: flex;
      flex-wrap: wrap;
    }

    .logo {
      width: 0;
      height: 0;
    }

    .titulosec2-responsive {
      color: $text-color;
      font-size: $title-size;
    }

    .titulo2 {
      font-size: $title-size;
    }

    .header2 {
      grid-area: header2;
      display: flex;
      flex-direction: column;
      background-image: linear-gradient(to right, #99582a, #ffe6a7);

      .logo-titulo {
        margin-right: 0;
        display: flex;
        flex-wrap: wrap;

        .logo {
          width: 0;
          height: 0;
        }
      }

      .navbar2 {
        display: flex;
        flex-direction: column;
        font-size: 1.7em;
        margin-top: 7em;
      }
    }

    .titulosec2-responsive {
      display: flex;
      justify-content: center;
      font-size: 5em;
    }

    .guitar1 {
      margin-top: 2em;
      grid-area: guitar1;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 0fr 0fr;
      grid-template-areas:
        "guitar1-text"
        "yamahaslgph"
        "add";

      .guitar1-title {
        font-size: 3em;
      }

      .yamahaslgph {
        grid-area: yamahaslgph;
        @include guitar-responsive-photo;
      }

      .guitar1-text {
        grid-area: guitar1-text;
        list-style: circle;
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-size: 2em;
        padding-bottom: 1em;
      }
    }

    .guitar2 {
      grid-area: guitar2;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 0.4fr;
      grid-template-areas:
        "guitar2-text"
        "yamahaph"
        "add";

      .yamahaph {
        grid-area: yamahaph;
        @include guitar-responsive-photo;
      }

      .guitar2-text {
        grid-area: guitar2-text;
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-size: 2em;
        padding-bottom: 1em;
      }
    }

    .guitar3 {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 0.4fr 0fr;
      grid-template-areas:
        "guitar3-text"
        "fonsecaph"
        "add";

      .guitar3-text {
        grid-area: guitar3-text;
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-size: 2em;
        padding-bottom: 1em;
      }

      .fonsecaph {
        grid-area: fonsecaph;
        @include guitar-responsive-photo;
      }
    }

    .guitar4 {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 0.4fr 0fr;
      grid-template-areas:
        "guitar4-text"
        "graciaph"
        "add";

      .guitar4-text {
        grid-area: guitar4-text;
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-size: 2em;
        padding-bottom: 1em;
      }

      .graciaph {
        grid-area: graciaph;
        @include guitar-responsive-photo
      }

    }

    .precio {
      grid-area: precio;
      font-size: 2em;
      margin-right: 0;
      display: flex;
      justify-content: center;
      align-self: center;
      flex-direction: column;
      padding-top: 0;
    }

    .precio4-2 {
      font-size: 2em;
      margin-right: 0.5em;
      display: flex;
      justify-content: center;
      padding-top: 0em;
    }

    .add {
      font-size: 2em;
      grid-area: add;
      display: flex;
      justify-content: center;
      font-stretch: extra-expanded;
      margin-right: 0.1em;
    }

    .add2-425 {
      font-size: 1.5em;
      grid-area: add;
      display: flex;
      padding-bottom: 1em;
      justify-content: center;
      font-stretch: extra-expanded;
      margin-right: 2em;
    }
  }

  .footer2 {
    grid-area: footer2;
    font-size: 2.5em;
  }


  // SUCURSALES 425PX
  .sucursales {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "header3 ."
      "header3 ."
      "header3 ."
      "header3 ."
      "footer3 footer3 ";


    .header3 {
      grid-area: header3;
      display: flex;
      flex-direction: column;
      background-image: linear-gradient(to right, #99582a, #ffe6a7);

      .logo-titulo {
        display: flex;
        flex-wrap: wrap;


        .logo {
          width: 0;
          height: 0;
        }
      }

      .navbar2,
      .navbar-text,
      .navbar-select {
        transition: none;
        flex-direction: column;
        font-size: 1.7em;
        margin-top: 7em;
      }

    }

    .sucursal-responsive {
      display: flex;
      flex-direction: column;

      img {
        width: 47.6em;
      }


      iframe {
        transition: none;
        width: 47.6em;
      }
    }

    .titulosuc {
      font-size: $title-size;
    }

    .direccion {
      font-size: $title-size;
    }
  }

  .footer3-responsive {
    grid-area: footer3;
    width: 24.7em;
    font-size: 2.5em;
  }


  // CARRITO 425PX

  .carrito {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "header4 fonseca"
      "header4 gracia"
      "header4 yamaha"
      "header4 iconos";


    .header4 {
      grid-area: header4;
      display: flex;
      flex-direction: column;
      background-image: linear-gradient(to right, #99582a, #ffe6a7);

      .logo-titulo {
        display: flex;
        flex-wrap: wrap;
      }

      .logo {
        width: 0;
        height: 0;
      }

      h1 {
        font-size: 2em;
        text-align: center;
      }

      .navbar2,
      .navbar-text,
      .navbar-select {
        transition: none;
        display: flex;
        flex-direction: column;
        font-size: 1.5em;
        margin-top: 6em;
      }
    }

    .cart-list-responsive {
      display: flex;
      flex-direction: column;

      .guitar-name-responsive {
        font-size: 2.5em;
      }

      .cart-button-responsive {
        font-size: 3em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
      }
    }

    .envio-retiro-responsive {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      .retiro-sucursal-responsive-425 {
        margin-right: 0;
        margin-left: 0;
      }

      .text-responsive {
        font-size: 2em;
      }

      .sucursal-name-responsive {
        font-size: 3em;
      }
    }

    .action-button-responsive {
      font-size: 2em;
      justify-content: center;
    }

  }

  .footer4 {
    grid-area: footer4;
    width: 18.6em;
  }

  // CONTACTO 425PX

  .contacto-responsive {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr 0fr 0fr 0fr;
    grid-template-areas:
      "header5 ."
      "header5 ."
      "header5 ."
      "footer5 footer5";

    .header5 {
      grid-area: header5;
      display: flex;
      flex-direction: column;
      background-image: linear-gradient(to right, #99582a, #ffe6a7);

      .logo-titulo {
        display: flex;
        flex-wrap: wrap;
      }

      .logo {
        width: 0;
        height: 0;
      }

      .navbar2,
      .navbar-text,
      .navbar-select {
        transition: none;
        display: flex;
        flex-direction: column;
        font-size: 1.7em;
        margin-top: 5em;
      }
    }

    .form-responsive {
      margin-top: 3em;
      display: flex;
      flex-direction: column;

      .form-text-responsive {
        font-size: 1.5em;
      }
    }

    .send-responsive {
      margin-top: 1em;
      font-size: $title-size-2;
      display: flex;
      justify-content: center;
    }

    .footer5 {
      grid-area: footer5;
      width: 21em;
    }
  }

}


@media only screen and (max-width: 768px) {
  .titulosec {
    font-size: 3em;
  }

  .navbar {
    font-size: 1em;
  }

  .navbar-text {
    transition: none;
  }

  .index3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 320px 0fr;
    grid-template-areas:
      "bienvenido"
      "horario"
      "sucursal1"
      "sucursal2";


    .bienvenido {
      animation: none;
    }

  }


  // PRODUCTOS 768PX

  .guitarras {
    .guitar-photo {
      justify-content: initial;
    }

    .precio2 {
      padding-top: 0;
      display: flex;
      justify-content: center;
    }

    .navbar-text {
      transition: none;
    }

    .precio4-2 {
      padding-top: 0;
      display: flex;
      justify-content: center;
    }

    .add2-768 {
      display: flex;
      justify-self: center;
      align-self: center;
    }
  }

  .yamahaslgph2 {
    display: flex;
    flex-direction: column-reverse;
  }

  .yamahaph2 {
    flex-direction: column-reverse;

  }

  .fonsecaph2 {
    flex-direction: column-reverse;

  }

  .graciaph2 {
    flex-direction: column-reverse;
  }


  // SUCURSALES 768PX

  .sucursal-responsive-768 {
    display: flex;
    flex-direction: column;

    .img-responsive-768 {
      width: 48em;
    }
  }


  .navbar-text,
  .navbar .navbar-text {
    transition: none;
  }



  // CARRITO 768PX 


  .cart-list-responsive-768 {
    display: flex;
    flex-direction: column;
  }

  .envio-retiro-responsive-768 {
    display: flex;
    justify-content: space-around;

    .retiro-sucursal-responsive-768 {
      margin-right: 0;
      margin-left: 5em;
    }
  }



  // CONTACTO 768PX



  .contacto-responsive {
    .form {
      display: flex;
      flex-direction: column;
    }

    .send-responsive {
      font-size: 1.5em;
      display: flex;
      justify-content: center;
    }
  }
}



@media only screen and (max-width: 1024px) {

  // PRODUCTOS 1024PX

  .yamahaslgph2,
  .yamahaph2,
  .fonsecaph2,
  .graciaph2 {
    flex-direction: column-reverse;

    .precio2,
    .precio4-2 {
      padding-top: 0;
      display: flex;
      justify-content: center;
    }

  }

  .add2-1024 {
    justify-self: center;
  }

  .graciaph2 {
    width: 15em;
  }

  // SUCURSALES 1024PX

  .img-responsive-1024 {
    width: 540px;
    height: 528px;
  }


  // CARRITO 1024PX

  .envio-retiro-responsive-1024 {
    display: flex;
    justify-content: center;

    .retiro-sucursal-responsive-1024 {
      margin-left: 5em;
    }
  }

} */
header {
  background-image: linear-gradient(to top, #99582a, #ffe6a7);
  text-decoration: none;
  display: flex;
  justify-content: space-between; }
  header .logo-titulo {
    display: flex;
    flex-direction: row; }
    header .logo-titulo .titulo {
      grid-area: titulo; }
    header .logo-titulo .logo {
      width: 7em;
      height: 4em;
      grid-area: logo;
      background-color: none; }
  header .navbar, header .navbar-select, header .navbar2 {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: aliceblue; }
  header .navbar-select {
    font-weight: bold; }
  header .navbar-text {
    margin-right: 2em;
    font-size: 20px;
    transition: font-size 0.2s; }
  header .navbar-text:hover {
    font-size: 25px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-image: url(../images/fondo.jpg);
  background-attachment: fixed;
  position: relative;
  background-size: cover; }

h1 {
  text-align: center;
  font-weight: bolder;
  font-family: "Saira", sans-serif;
  font-size: 3em; }

h2 {
  margin-top: 2em;
  font-family: "Saira", sans-serif;
  color: aliceblue;
  font-size: 2.5em;
  text-decoration: underline; }

ul {
  padding-left: 0; }

li {
  list-style: none; }

a {
  text-decoration: none; }

footer {
  font-size: 2em;
  font-weight: 400;
  text-align: center;
  background-image: linear-gradient(to top, #99582a, #ffe6a7);
  font-family: "Saira", sans-serif;
  grid-area: footer; }

.criolla {
  padding-top: 1em;
  font-size: 2em;
  color: aliceblue; }

.guitar-title {
  font-size: 1em;
  text-align: center; }

.add, .add2 {
  margin-bottom: 0.5em;
  font-size: 1.5em;
  grid-area: add;
  display: flex;
  font-stretch: extra-expanded;
  justify-self: center; }

.precio, .precio4 {
  font-size: 1.3em;
  display: flex;
  align-self: center; }

.guitar-photo {
  display: flex; }
