header {
    background-image: $background-color;
    text-decoration: none;
    display: flex;
    justify-content: space-between;

    .logo-titulo {
        display: flex;
        flex-direction: row;

        .titulo {
            grid-area: titulo;
        }

        .logo {
            width: 7em;
            height: 4em;
            grid-area: logo;
            background-color: none;
        }

    }

    .navbar {
        display: flex;
        justify-content: space-between;
        font-size: 20px;
        color: $text-color;
    }

    .navbar-select {
        @extend .navbar;
        font-weight: bold;
    }

    .navbar2 {
        @extend .navbar;
    }

    .navbar-text {
        margin-right: 2em;
        font-size: 20px;
        transition: font-size 0.2s;
    }

    .navbar-text:hover {
        font-size: 25px;
    }

}