.index {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 320px 0.3fr;
  grid-template-areas:
    ". bienvenido ."
    ". horario ."
    "sucursal1 . sucursal2";

  .bienvenido {
    grid-area: bienvenido;
    padding-top: 1em;
    animation-name: bienvenido;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: initial;
    animation-direction: normal;


    @keyframes bienvenido {
      0% {
        transform: translate(0, 20em);
      }
    }
  }

  .horario {
    grid-area: horario;
    display: flex;
    justify-content: center;
  }

  .sucursal {
    font-weight: bold;
    color: $text-color;
    text-decoration: underline;
  }

  .sucursal1 {
    @extend .sucursal;
    text-decoration: none;
    grid-area: sucursal1;
    font-size: $title-size-2;
  }

  .sucursal2 {
    @extend .sucursal;
    font-size: $title-size-2;
    text-decoration: none;
    grid-area: sucursal2;
  }

  .titulosec {
    color: $text-color;
    padding-bottom: 1em;
    font-size: 2.5em;
  }

  .texto {
    font-family: $font-family-2;
    color: $text-color;
    font-size: 2em;
    padding-top: 0.5em;
  }

}


// PRODUCTOS


.titulosec2 {
  padding-bottom: 1em;
  font-size: 2em;
  color: $text-color;
  text-decoration: underline;
}

.guitar1 {
  @include guitar-order;
  grid-template-areas:
    "guitar1-text yamahaslgph"
    ". add";

  .guitar-text {
    grid-area: guitar-text;
  }

  .yamahaslgph {
    grid-area: yamahaslgph;
  }
}

.guitar2 {
  @include guitar-order;
  grid-template-areas:
    "guitar2-text yamahaph"
    ". add";

  .guitar2-text {
    grid-area: guitar2-text;
  }

  .yamahaph {
    grid-area: yamahaph;
  }
}

.guitar3 {
  @include guitar-order;
  grid-template-areas:
    "guitar3-text fonsecaph"
    ". add";

  .guitar3-text {
    grid-area: guitar3-text;
  }

  .fonsecaph {
    grid-area: fonsecaph;
  }
}

.guitar4 {
  @include guitar-order;
  grid-template-rows: 1fr;
  grid-template-areas:
    "guitar4-text graciaph"
    ". add";

  .guitar4-text {
    grid-area: guitar4-text;
  }

  .graciaph {
    grid-area: graciaph;
  }
}


// SUCURSALES


.titulosuc {
  font-size: $title-size-2;
  color: $text-color;
  padding-bottom: 0.5em;
  text-decoration: underline;
}

iframe {
  width: 48em;
  height: 33em;
  transition: height 1s, width 1s;
}

.direccion {
  text-align: center;
  font-size: 30px;
  padding-bottom: 2em;
  text-decoration: none;
}

.direccion2 {
  @extend .direccion;
  padding-bottom: 0;
}

.tiendaph {
  width: 42em;
}

.suc {
  display: flex;
  justify-content: space-around;
}


// CARRITO


.titulo-cart {
  @extend .titulosuc;
}

.guitar-name {
  padding-top: 0.5em;
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  color: $text-color;
}

.cart-button {
  margin-top: 0.5em;
  list-style: none;
  text-decoration: none;
  font-size: 1.5em;
}

.cart-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "fonseca gracia yamaha";

  .fonseca {
    grid-area: fonseca;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .fonsecacart {
      width: 22em;
    }
  }

  .gracia {
    @extend .fonseca;
    grid-area: gracia;

    .graciacart {
      width: 12em;
    }

  }

  .yamaha {
    @extend .fonseca;
    grid-area: yamaha;

    .yamahacart {
      width: 22em;
    }
  }
}

.text {
  font-size: 2em;
  color: $text-color;
  margin-bottom: 0.3em;
}

label {
  font-size: 1.5em;
  color: $text-color;
}

.envio-retiro {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "iconos . .";

  .iconos {
    grid-area: iconos;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .envio-camion {
      display: flex;
      flex-direction: column;
      justify-self: left;
      align-items: center;

      img {
        margin-left: 0.5em;
        width: 7em;
      }

    }

    .retiro-sucursal {
      display: flex;
      flex-direction: column;
      margin-top: 2em;
      margin-right: 7em;
      align-items: center;

      img {
        width: 8em;
      }

    }
  }
}

.action-button {
  display: flex;
  justify-content: end;
  justify-items: end;
  font-size: 1.2em;
  margin-bottom: 0.3em;
}

.action-button2 {
  @extend .action-button;
  margin-bottom: 0;
}


// CONTACTO


.titulo-contacto {
  @extend .titulosuc;
  text-decoration: none;
}

section {
  .wsp {
    padding-bottom: 2em;
    text-align: center;
    font-size: 2em;
    text-decoration: underline;
  }
}


section {
  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    font-size: 1.3em;

    .form-text {
      color: $text-color;
      margin-right: 0.5em;
    }

    .e-mail {
      margin-left: 0.5em;
    }

    .c-input {
      font-size: 1em;
      background-color: #59544e;
      color: $text-color;
    }

    .send {
      display: flex;
      justify-content: end;
      justify-items: end;

      input {
        font-size: 1.4em;
        margin-top: 0.5em;
      }
    }
  }
}



// MEDIA QUERIES



// MEDIA QUERIE INDEX


@media only screen and (min-width: 1240px) {}

@media only screen and (max-width: 425px) {
  .index2 {
    background-image: url(../images/fondo-responsive.jpg);
    background-size: cover;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 0.1fr 0fr 0fr 0fr;
    grid-template-areas:
      "header bienvenido"
      "header horario"
      "header sucursal1"
      "header sucursal2"
      "footer footer";
  
    header {
      grid-area: header;
      display: flex;
      flex-direction: column;
      background-image: linear-gradient(to right, #99582a, #ffe6a7);
    
      .navbar {
        display: flex;
        flex-direction: column;
        margin-top: 7em;
        font-size: 1.2em;
      }

      .navbar-text {
        transition: none;
      }

      h1 {
        font-size: 1.5em;
      }
    }
    
    .bienvenido2 {
      animation: none;
      font-size: 1em;
      margin-left: 0.5em;
      display: flex;
      flex-direction: column;
    }

    .sucursal1,
  .sucursal2 {
    display: flex;
    flex-direction: column;
    font-size: 2.2em;
    margin-top: 3em;
  }

  footer {
    grid-area: footer;
    margin-top: 0;
    width: 13.29em;
    font-size: 2em;
  }
  }
}

@media only screen and (max-width: 768px) {
  .titulosec {
    font-size: 3em;
  }

  .navbar {
    font-size: 1.2em;
  }

  .navbar-text {
    transition: none;
  }

  .index3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 320px 0fr;
    grid-template-areas:
      "bienvenido"
      "horario"
      "sucursal1"
      "sucursal2";
  

  .bienvenido {
    animation: none;
  }
}
}

