.index {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 320px 0.3fr;
  grid-template-areas:
    ". bienvenido ."
    ". horario ."
    "sucursal1 . sucursal2";

  .bienvenido {
    grid-area: bienvenido;
    padding-top: 1em;
    animation-name: bienvenido;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: initial;
    animation-direction: normal;


    @keyframes bienvenido {
      0% {
        transform: translate(0, 20em);
      }
    }
  }

  .horario {
    grid-area: horario;
    display: flex;
    justify-content: center;
  }

  .sucursal {
    font-weight: bold;
    color: $text-color;
    text-decoration: underline;
  }

  .sucursal1 {
    @extend .sucursal;
    text-decoration: none;
    grid-area: sucursal1;
    font-size: $title-size-2;
  }

  .sucursal2 {
    @extend .sucursal;
    font-size: $title-size-2;
    text-decoration: none;
    grid-area: sucursal2;
  }

  .titulosec {
    color: $text-color;
    padding-bottom: 1em;
    font-size: 2.5em;
  }

  .texto {
    font-family: $font-family-2;
    color: $text-color;
    font-size: 2em;
    padding-top: 0.5em;
  }

}


// PRODUCTOS

.titulosec2 {
  font-size: 2em;
  color: $text-color;
  text-decoration: underline;
}

.guitars {
  display: grid;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr;
  grid-template-areas:
    "guitar1 guitar2 guitar3"
    " guitar4 guitar5 guitar6";



  .guitar1 {
    grid-area: guitar1;
    @include guitar-order;

    .yamahaslgph {
      width: 12em;
      @include guitarph-order;
      transition: width 0.7s, height 0.7s;
    }
  }

  .yamahaslgph:hover {
    width: 16em;
  }

  .guitar2 {
    grid-area: guitar2;
    @include guitar-order;


    .yamahaph {
      @include guitarph-order;
      width: 13em;
      transition: width 0.7s, height 0.7s;
    }
  }

  .yamahaph:hover {
    width: 17em;
  }

  .guitar3 {
    grid-area: guitar3;
    @include guitar-order;

    .fonsecaph {
      @include guitarph-order;
      width: 13em;
      transition: width 0.7s, height 0.7s;
    }
  }

  .fonsecaph:hover {
    width: 17em;
  }

  .guitar4 {
    grid-area: guitar4;
    @include guitar-order;

    .graciaph {
      @include guitarph-order;
      width: 6em;
      transition: width 0.7s, height 0.7s;
    }
  }

  .graciaph:hover {
    width: 7.5em;
  }

  .guitar5 {
    grid-area: guitar5;
    @include guitar-order;

    .parquerph {
      @include guitarph-order;
      width: 7em;
      transition: width 0.7s, height 0.7s;
    }
  }

  .parquerph:hover {
    width: 9em;
  }

  .guitar6 {
    grid-area: guitar6;
    @include guitar-order;

    .disbyteph {
      @include guitarph-order;
      width: 7em;
      transition: width 0.7s, height 0.7s;
    }
  }

  .disbyteph:hover {
    width: 8.5em;
  }
}


// SUCURSALES


.titulosuc {
  font-size: $title-size-2;
  color: $text-color;
  padding-bottom: 0.5em;
  text-decoration: underline;
}

iframe {
  width: 48em;
  height: 33em;
  transition: height 1s, width 1s;
}

.direccion {
  text-align: center;
  font-size: 30px;
  padding-bottom: 2em;
  text-decoration: none;
}

.direccion2 {
  @extend .direccion;
  padding-bottom: 0;
}

.img-responsive {
  width: 42em;
}

.suc {
  display: flex;
  justify-content: space-around;
}


// CARRITO


.titulo-cart {
  @extend .titulosuc;
}

.guitar-name {
  padding-top: 0.5em;
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  color: $text-color;
}

.cart-button {
  margin-top: 0.5em;
  list-style: none;
  text-decoration: none;
  font-size: 1.5em;

}

.cart-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "fonseca gracia yamaha";

  .fonseca {
    grid-area: fonseca;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: $borde;
    margin: 0 1em 0 1em;

    .fonsecacart {
      width: 22em;
    }
  }

  .gracia {
    @extend .fonseca;
    grid-area: gracia;

    .graciacart {
      width: 9em;
    }

  }

  .yamaha {
    @extend .fonseca;
    grid-area: yamaha;

    .yamahacart {
      width: 22em;
    }
  }
}

.text {
  font-size: 2em;
  color: $text-color;
  margin-bottom: 0.3em;
}

label {
  font-size: 1.5em;
  color: $text-color;
}

.envio-retiro {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "iconos . .";

  .iconos {
    grid-area: iconos;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .envio-camion {
      display: flex;
      flex-direction: column;
      justify-self: left;
      align-items: center;

      img {
        margin-left: 0.5em;
        width: 7em;
      }

    }

    .retiro-sucursal {
      display: flex;
      flex-direction: column;
      margin-top: 2em;
      margin-right: 7em;
      align-items: center;

      img {
        width: 8em;
      }

    }
  }
}

.action-button {
  display: flex;
  justify-content: end;
  justify-items: end;
  font-size: 1.4em;
  margin-bottom: 0.3em;
}

.action-button2 {
  @extend .action-button;
  margin-bottom: 0;
}


// CONTACTO


.titulo-contacto {
  @extend .titulosuc;
  text-decoration: none;
}

section {
  .wsp {
    padding-bottom: 2em;
    text-align: center;
    font-size: 2em;
    text-decoration: underline;
  }
}


section {
  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    font-size: 1.3em;

    .form-text {
      color: $text-color;
      margin-right: 0.5em;
    }

    .e-mail {
      margin-left: 0.5em;
    }

    .c-input {
      font-size: 1em;
      background-color: #59544e;
      color: $text-color;
    }


    input {
      font-size: 1.4em;
      margin-top: 0.5em;
    }
  }

  .send {
    font-size: 1.5em;
    display: flex;
    justify-content: end;
    justify-items: end;
  }
}



// MEDIA QUERIES



// MEDIA QUERIE INDEX

@media only screen and (max-width: 425px) {


  .index2,
  .index {
    background-image: url(../images/fondo-responsive.jpg);
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr;
    grid-template-areas:
      "header"
      "bienvenido"
      "horario"
      "sucursal1"
      "sucursal2"
      "footer";


    header {
      grid-area: header;
      background-image: $background-color;
      display: flex;
      flex-direction: row-reverse;


      .logo-titulo {

        .titulo {
          margin-top: 0.3em;
          font-size: 2em;
        }

        .logo {
          display: flex;
          align-items: right;
        }
      }

      nav {
        font-size: 1.2em;
      }

      .navbar-text {
        transition: none;
      }
    }

    .bienvenido {
      animation: none;
      font-size: 1em;
      display: flex;
      flex-direction: column;
    }

    .sucursal1,
    .sucursal2 {
      margin-top: 1em;
    }

    footer {
      grid-area: footer;
    }
  }




  //  PRODUCTOS 425PX


  .fondo-responsive {
    background-image: url(../images/fondo-responsive.jpg);
    background-size: cover;
  }

  .guitarras {
    transition: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "header2"
      "guitar1"
      "guitar2"
      "guitar3"
      "guitar4"
      "guitar5"
      "guitar6"
      "footer2";

    header {
      grid-area: header2;
      background-image: $background-color;
      display: flex;
      flex-direction: row-reverse;

      .logo-titulo {

        .titulo {
          font-size: 2em;
          margin-top: 0.3em;
        }
      }

      nav {
        font-size: 1.7em;
      }

      .navbar-text {
        transition: none;
      }
    }


    .titulosec2 {
      display: flex;
      justify-content: center;
      font-size: 2em;
    }

    .guitars {
      display: flex;
      flex-direction: column;

      .guitar1 {
        @include guitar-responsive-order;
        margin-top: 2em;
        grid-area: guitar1;
        grid-template-areas:
          "yamahaslgph"
          "guitar-title"
          "add";

        .guitar1-title {
          font-size: 3em;
        }

        .yamahaslgph {
          grid-area: yamahaslgph;
          @include guitar-responsive-photo;
        }
      }

      .guitar2 {
        @include guitar-responsive-order;
        grid-area: guitar2;
        grid-template-areas:
          "yamahaph"
          "guitar-title"
          "add";

        .yamahaph {
          grid-area: yamahaph;
          @include guitar-responsive-photo;
        }
      }

      .guitar3 {
        @include guitar-responsive-order;
        grid-area: guitar3;
        grid-template-areas:
          "fonsecaph"
          "guitar-title"
          "add";

        .guitar3-text {
          grid-area: guitar3-text;
          display: flex;
          justify-content: center;
          flex-direction: column;
          font-size: 2em;
          padding-bottom: 1em;
        }

        .fonsecaph {
          grid-area: fonsecaph;
          @include guitar-responsive-photo;
        }
      }

      .guitar4 {
        @include guitar-responsive-order;
        grid-area: guitar4;
        grid-template-areas:
          "graciaph"
          "guitar-title"
          "add";

        .guitar4-text {
          grid-area: guitar4-text;
          display: flex;
          justify-content: center;
          flex-direction: column;
          font-size: 2em;
          padding-bottom: 1em;
        }

        .graciaph {
          grid-area: graciaph;
          @include guitar-responsive-photo;
          width: 8em;
        }

      }

      .guitar5 {
        @include guitar-responsive-order;
        grid-area: guitar5;
        grid-template-areas:
          "parquerph"
          "guitar-title"
          "add";

        .parquerph {
          grid-area: parquerph;
          @include guitar-responsive-photo;
          width: 7em;
        }
      }

      .guitar6 {
        @include guitar-responsive-order;
        grid-area: guitar6;
        grid-template-areas:
          "disbyteph"
          "guitar-title"
          "add";

        .disbyteph {
          grid-area: disbyteph;
          @include guitar-responsive-photo;
          width: 8em;
        }
      }
    }

    .precio {
      grid-area: precio;
      font-size: 2em;
      margin-right: 0;
      display: flex;
      align-items: center;
    }

    .add {
      font-size: 1.5em;
      grid-area: add;
      display: flex;
      justify-content: center;
      font-stretch: extra-expanded;
    }

    .footer2 {
      grid-area: footer2;
      font-size: 1.5em;
    }
  }




  // SUCURSALES 425PX


  .sucursales {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "header3"
      "sucursalresp"
      "footer3";



    .header3 {
      grid-area: header3;
      display: flex;
      flex-direction: row-reverse;
      background-image: $background-color;

      .logo-titulo {


        .titulo {
          font-size: 2em;
          margin-top: 0.3em;
        }
      }

      nav {
        font-size: 1.7em;
      }

      .navbar-text {
        transition: none;
      }
    }


    .sucursal-responsive {
      grid-area: sucursalresp;
      display: flex;
      flex-direction: column;

      img {
        width: 26.5em;
      }


      iframe {
        transition: none;
        width: 26.5em;
      }
    }

    .titulosuc {
      font-size: $title-size-2;
    }

    .direccion {
      font-size: $title-size-2;
      margin-top: 1.5em;
      margin-bottom: 1em;
    }


    .footer3 {
      grid-area: footer3;
      font-size: 1.5em;
    }
  }



  // CARRITO 425PX

  .carrito {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "header4"
      "main"
      "cartlist"
      "footer4";

    .header4 {
      grid-area: header4;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-around;
      background-image: $background-color;

      .logo-titulo {

        .titulo {
          font-size: 2em;
          margin-top: 0.3em;
        }

      }

      nav {
        font-size: 1.7em;
        transition: none;
        display: flex;
        flex-direction: column;
        ;
      }

      .navbar-text {
        transition: none;
      }
    }

    h1 {
      font-size: 2em;
      text-align: center;
    }

    main {
      grid-area: main;
      display: flex;
      flex-direction: column;

      .cart-list-responsive {
        grid-area: cartlist;
        display: flex;
        flex-direction: column;

        .guitar-name-responsive {
          font-size: 2.5em;
        }

        .cart-button-responsive {
          font-size: 3em;
          margin-top: 0.5em;
          margin-bottom: 0.5em;
        }
      }

      .envio-retiro-responsive {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .retiro-sucursal-responsive-425 {
          margin-right: 0;
          margin-left: 0;
        }

        .text-responsive {
          font-size: 2em;
        }

        .sucursal-name-responsive {
          font-size: 3em;
        }
      }

      .botones {
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: center;


        .action-button-responsive {
          font-size: 1.5em;
          flex-direction: column;
          justify-content: center;
          align-self: center;
        }
      }
    }
  }

  .footer4 {
    grid-area: footer4;
  }


  // CONTACTO 425PX

  .contacto-responsive {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "header5"
      "form"
      "send"
      "footer5";


    .header5 {
      grid-area: header5;
      display: flex;
      flex-direction: row-reverse;
      background-image: $background-color;

      .logo-titulo {

        .titulo {
          font-size: 2em;
          margin-top: 0.3em;
        }
      }

      nav {
        font-size: 1.7em;
      }

      .navbar-text {
        transition: none;
      }
    }
  }


  .form-responsive {
    grid-area: form;
    margin-top: 3em;
    display: flex;
    flex-direction: column;

    .form-text-responsive {
      font-size: 1.5em;
    }
  }

  .send-responsive,
  .send {
    grid-area: send;
    margin: 0.5em 0 0.5em 0;
    font-size: 1em;
    display: flex;
    justify-content: center;

  }

  .footer5 {
    grid-area: footer5;
  }
}


@media only screen and (max-width: 768px) {

  // PRODUCTOS 768PX


  .guitarras {
    transition: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "header2"
      "guitar1"
      "guitar2"
      "guitar3"
      "guitar4"
      "guitar5"
      "guitar6"
      "footer2";
  }

  .guitars {
    display: flex;
    flex-direction: column;
  }

  .guitar1 {
    grid-area: guitar1;
    display: flex;
    flex-direction: column;
  }

  .guitar2 {
    grid-area: guitar2;
    flex-direction: column;

  }

  .guitar3 {
    grid-area: guitar3;
    flex-direction: column;

  }

  .guitar4 {
    grid-area: guitar4;
    flex-direction: column;
  }

  .guitar5 {
    grid-area: guitar5;
  }

  .guitar6 {
    grid-area: guitar6;
  }

  .footer2 {
    grid-area: footer2;
  }


  // SUCURSALES 768PX


  .sucursal-responsive-768 {
    display: flex;
    flex-direction: column;

    .img-responsive-768 {
      width: 48em;
    }

    .iframe-responsive-768 {
      width: 48em;
    }
  }


  // CARRITO 768PX 

  .carrito-768 {

    .cart-list-responsive-768 {
      display: flex;
      flex-direction: column;

      .cart-button {
        font-stretch: expanded;
        font-size: 2.5em;
      }
    }

    .envio-retiro-responsive-768 {
      display: flex;
      justify-content: space-around;

      .retiro-sucursal-responsive-768 {
        margin-right: 0;
        margin-left: 7em;
      }
    }

    .botones {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 2em;

      .action-button-responsive {
        font-size: 1.7em;
      }
    }
  }

  // CONTACTO 768PX


  .send-responsive {
    margin-top: 1em;
    font-size: 1em;
    display: flex;
    justify-content: center;
  }
}




@media only screen and (max-width: 1024px) {

  // INDEX 1024PX

  .header-1024 {
    .logo-titulo {
      .titulo {
        margin-top: 0.3em;
        font-size: 2em;
      }


    }
  }


  // PRODUCTOS 1024PX

  .guitars {
    display: flex;
    flex-direction: column;
  }


  // SUCURSALES 1024PX

  .sucursal-responsive {
    display: flex;
    flex-direction: column;

    img {
      width: 64em;
    }

    iframe {
      width: 64em;
    }
  }


  // CARRITO 1024PX


  .envio-retiro-responsive-1024 {
    display: flex;
    justify-content: space-around;

    .retiro-sucursal-responsive-768 {
      margin-right: 0;
      margin-left: 7em;
    }
  }
}