@mixin guitar-order () {
    display: grid;
    grid-template-columns: 0.2fr;
    grid-template-rows:0.4fr 0.2fr;
}

@mixin guitar-photo () {
    display: flex;
    
}

@mixin guitar-responsive-photo () {
    width: 18em;
    display: flex;
    justify-content: center;
    justify-self: center;
    flex-direction: column-reverse;
}