@mixin guitar-order () {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: $borde;
    border-color: white;
    cursor: pointer;
}

@mixin guitarph-order () {
    display: flex;
    flex-direction: column;
}

@mixin guitar-responsive-photo () {
    width: 10em;
    display: flex;
    justify-content: center;
    justify-self: center;
    transition: none;
}

@mixin guitar-responsive-order () {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}