@mixin guitar-order () {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: $borde;
    border-color: white;
    cursor: pointer;
}

@mixin guitarph-order () {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin guitar-responsive-photo () {
    width: 18em;
    display: flex;
    justify-content: center;
    justify-self: center;
    flex-direction: column-reverse;
}