$title-size: 3em;
$title-size-2: 2.5em;
$text-color: aliceblue;
$font-family: "Saira", sans-serif;
$font-family-2: "Playfair Display", serif;
$background-color: linear-gradient(to top, #99582a, #ffe6a7);
$borde: 4px solid;