@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Saira:wght@200&display=swap");


@import './_variables.scss';
@import './_mixins.scss';
@import './_main.scss';
@import './_header.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../images/fondo.jpg);
  background-attachment: fixed;
  position: relative;
  background-size: cover;
}

h1 {
  text-align: center;
  font-weight: bolder;
  font-family: $font-family;
  font-size: $title-size;
}

h2 {
  margin-top: 2em;
  font-family: $font-family;
  color: $text-color;
  font-size: $title-size-2;
  text-decoration: underline;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}


footer {
  font-size: 2em;
  font-weight: 400;
  text-align: center;
  background-image: linear-gradient(to top, #99582a, #ffe6a7);
  font-family: "Saira", sans-serif;
  grid-area: footer;
}


// PRODUCTOS

.criolla {
  padding-top: 1em;
  font-size: 2em;
  color: $text-color;
}

.add {
  font-size: 1.5em;
  grid-area: add;
  display: flex;
  font-stretch: extra-expanded;
  margin-right: 2em;
}

.add2 {
  @extend .add;
  margin-right: 0.5em;
}

.precio {
  font-size: 1.3em;
  margin-right: 0.5em;
  display: flex;
  
}

.precio4 {
  @extend .precio;
  padding-top: 18em;
}

.guitar-photo {
  @include guitar-photo;
}